{% extends "base_generic.html" %}

{% load static %}

{% block title %}My Profile{% endblock %}

{% block active-link-8 %}
active
{% endblock %}

{% block main %}

    <h3 class="header fcolor_light">Your Profile</h3>

    
    <div class="profile_container">

        <!-- User account info -->
        <div class="profile_section profile_section_bgc">
            <img src="{% static 'images/user.png' %}" alt="profile picture" class="user-image">
            <div class="profile_info">
                <h4 class="username fcolor_dark fcolor_accent_dt">{{ user_info.username }}</h4>
                <h5 class="user-email fcolor_medium">{{ user_info.email }}</h5>

                <h6 class="user-name fcolor_black">{{ user_info.first_name }} {{ user_info.last_name }}</h6>
                
                <span class="user-regdate fcolor_medium fcolor_accent_dt_light">Joined Beer Diary since:<br> {{ user_info.date_joined }}</span>
            </div>
        </div>

        <!-- User statistics -->
        <div class="profile_section profile_section_bgc">
            
            <div class="profile_info profile_info_stats">
                <h4 class="profile_stats fcolor_dark fcolor_accent_dt">Your Statistics:</h4>

                <p class="reviews_count fcolor_black">Total reviews: {{ reviews }}</p>
                <p class="reviews_count fcolor_black">Dark beer reviews: {{ dark_reviews }}</p>
                <p class="reviews_count fcolor_black">Light beer reviews: {{ light_reviews }}</p>
            </div>

            <img src="{% static 'images/beer-default.jpg' %}" alt="beer image" class="beer-image">
        </div>

        <!-- User's friends section -->
        <div class="profile_section profile_section_bgc">

            {% if friends_list %}
            
            <div class="profile_friends">
                <h4 class="profile_friends_header fcolor_dark fcolor_accent_dt">Friends:</h4>

                <p class="friends_count fcolor_black">Total friends: {{ friends_list.count }}</p>
            </div>

            <div class="profile_friends">
                <ul>
                    {% for friend in friends_list %}
                        <li>
                            <a href="{{ friend.get_absolute_url }}" class="friend_li fcolor_dark fcolor_accent_dt">{{ friend }}</a> 
                        </li>
                    {% endfor %}
                </ul>
            </div>

            {% else %}
            <div class="profile_friends">
                <h4 class="profile_friends_header fcolor_dark fcolor_accent_dt">Friends:</h4>
                <p class="friends_count fcolor_black">No friends yet :(</p>
            </div>

            {% endif %}
            <div class="profile_friends">
                <h4 class="profile_friends_header fcolor_dark fcolor_accent_dt">Requests:</h4>
                <p class="friends_count fcolor_black">Sent friend requests: {{ sent_friend_requests.count }}</p>
                <p class="friends_count fcolor_black">Received friend requests: {{ rec_friend_requests.count }}</p>
                <div class="friends-links">
                    <a href="{% url 'users_list' %}" class="user_li">Recommended friends</a>
                    <a href="{% url 'search_users' %}" class="user_li">Search Users</a>
                </div>
            </div>

        </div>

    </div>

{% endblock %}