{% extends "base_generic.html" %}

{% load static %}

{% block title %}Search Users{% endblock %}

{% block active-link-8 %}
active
{% endblock %}

{% block main %}

    <h1 class="no-content fcolor_light">Here you can search users of Beer Diary:</h1>

    <form action="{% url 'search_users' %}" method="get">
        <input name="q" type="text" placeholder="Search username..." />
        <button class="button button_lt button_dt" type="submit">Search</button>
    </form>
    
    {% if users %}
        <div class="list_container mt-5 mb-5">
            <p class="no-content fcolor_dark fcolor_accent_dt">Search results:</p>
            
            <ul>
                {% for user in users %}
                <li>
                    <a href="{{ user.profile.get_absolute_url }}" class="user_li fcolor_dark fcolor_accent_dt">{{ user }}</a> 
                </li>
                {% endfor %}
            </ul>
        </div>
        
    {% endif %}


{% endblock %}