{% extends "base_generic.html" %}

{% block title %}Beer reviews{% endblock %}

{% block main %}

    {% if status == "friends" %}

        <h3 class="header fcolor_light">{{ user }}'s beer memories:</h3>

        <div class="reviews_container">
        
            {% if beer_reviews_user_list %}

                {% for beer in beer_reviews_user_list %}
                
                <div class="review review_bgc">
                    <img src={% if beer.image %}"{{ beer.image }}" {% else %}"" {% endif %} class="beer-image" alt="beer image">
                    <img src="{% static 'images/beer-default.jpg' %}" class="hide" alt="default image">
                    <div class="review__descr">
                        <h4 class="beer-name fcolor_dark fcolor_accent_dt">{{ beer.name }}</h4>
                        <h5 class="beer-type fcolor_medium">{{ beer.beertype}}</h5>
                        {% if beer.rating == '1' %}
                            <p class="rating fcolor_black">&#10026;</p>
                        {% elif beer.rating == '2' %}
                            <p class="rating fcolor_black">&#10026; &#10026;</p>
                        {% elif beer.rating == '3' %}
                            <p class="rating fcolor_black">&#10026; &#10026; &#10026;</p>
                        {% elif beer.rating == '4' %}
                            <p class="rating fcolor_black">&#10026; &#10026; &#10026; &#10026;</p>
                        {% elif beer.rating == '5' %}
                            <p class="rating fcolor_black">&#10026; &#10026; &#10026; &#10026; &#10026;</p>
                        {% else %}
                            <p class="rating fcolor_black">No rating</p>
                        {% endif %}
                        {% if beer.comments %}
                            <h6 class="comments-header fcolor_black">Comments:</h6>
                            <p class="comments fcolor_black">{{ beer.comments }}</p>
                        {% else %}
                            <p class="comments fcolor_black">No comments</p>
                        {% endif %}
                        <span class="date fcolor_medium fcolor_accent_dt_light"> {{ beer.date }} </span>
                    </div>
                </div>

                {% endfor %}
            
            {% else %}
                <p class="no-content fcolor_light">There are no memories in {{ user }}'s Beer Diary yet.</p>
            {% endif %}

        </div>     

    {% else %}

        <p class="no-content fcolor_light">Sorry, you can see Beer Diary memories submitted by your friends only.</p>
        <p class="no-content fcolor_light">{{ user }} is not in your friends list.</p>

    {% endif %}     

{% endblock %}