.bg-image {
    background: url("../images/bg-4.jpg") center/20% repeat;
    backdrop-filter: grayscale(1);
}

.beer-image, .main-icon, .welcome-img, .user-image {
    filter: contrast(0.9) grayscale(0.5);
}

.container_bgc {
    background-color: RGBA(65, 65, 65, .7);
}

.button_dt, a.button_dt {
    color: RGBA(238, 238, 238, .87);
    background-color: #525252;
}

.button_dt:hover, a.button:hover {
    background-color: RGBA(53, 53, 53, .87);
}

.review_bgc, .list_container, form, .profile_section_bgc {
    background-color: #EEE;
}

.navbar_bgc {
    background-color: #525252;
}

.footer {
    color: #EEE;
}

.navlink-fc, .fcolor_light {
    color: RGBA(238, 238, 238, .87) !important;
}

.fcolor_accent_dt, a.fcolor_accent_dt {
    color: RGBA(202, 62, 71, .87);
}

.fcolor_medium, .beer_li_span {
    color: RGBA(49, 49, 49, .87);
}

.fcolor_accent_dt_light {
    color: RGBA(202, 62, 71, .38);
}

.fcolor_black {
    color: RGBA(65, 65, 65, .6);
}

.alert {
    filter: contrast(0.9) grayscale(0.5) !important;
}


/* crispy forms styles */
.help-block {
    color: RGBA(49, 49, 49, .87)
}

.controls>ul {
    color: RGBA(49, 49, 49, .87)
}