{% extends "base_generic.html" %}

{% block title %}Beer Review: {{ beerreview.name }}{% endblock %}

{% block active-link-3 %}
active
{% endblock %}

{% block main %}
    <h3 class="header font-color_second">Your {{ beerreview.name }} review:</h3>

    <div class="review bg-color_white">
        <img src="{{ beerreview.image }}" class="beer-image">
        <div class="review__descr">
            <h4 class="beer-name font-color">{{ beerreview.name }}</h4>
            <h5 class="beer-type font-color_second">{{ beerreview.beertype}}</h5>
            {% if beerreview.rating == '1' %}
                <p class="rating">&#10026;</p>
            {% elif beerreview.rating == '2' %}
                <p class="rating">&#10026; &#10026;</p>
            {% elif beerreview.rating == '3' %}
                <p class="rating">&#10026; &#10026; &#10026;</p>
            {% elif beerreview.rating == '4' %}
                <p class="rating">&#10026; &#10026; &#10026; &#10026;</p>
            {% elif beerreview.rating == '5' %}
                <p class="rating">&#10026; &#10026; &#10026; &#10026; &#10026;</p>
            {% else %}
                <p class="rating">No rating</p>
            {% endif %}
            <h6 class="comments-header">Comments:</h6>
            <p class="comments">{{ beerreview.comments }}</p>
            <span class="date font-color_second"> {{ beerreview.date }} </span>
            <a href="{% url 'update_beer_review' beerreview.id %}" class="link-update font-color_second">Update</a>
            <a href="{% url 'delete_beer_review' beerreview.id %}" class="link-update font-color_second">Delete</a>
        </div>
    </div>

{% endblock %}