{% extends "base_generic.html" %}

{% block title %}See All{% endblock %}

{% block active-link-3 %}
active
{% endblock %}

{% block main %}
    <h3 class="header">List of your beer reviews:</h3>

    {% if beerreview_list %}

        <ul>
            {% for beer in beerreview_list %}
            <li>
                <a href="{{ beer.get_absolute_url }}">{{ beer.name }}</a> ({{ beer.beertype }})
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-content font-color_second">There are no beer reviews in your diary.</p>
    {% endif %} 

{% endblock %}