{% extends "base_generic.html" %}

{% block title %}Beer Review: {{ beerreview.name }}{% endblock %}

{% block active-link-3 %}
active
{% endblock %}

{% block main %}
    <h3 class="header fcolor_light">Your {{ beerreview.name }} review:</h3>

    <div class="review review_bgc">
        <img src="{{ beerreview.image }}" class="beer-image">
        <div class="review__descr">
            <h4 class="beer-name fcolor_dark fcolor_accent_dt">{{ beerreview.name }}</h4>
            <h5 class="beer-type fcolor_medium">{{ beerreview.beertype}}</h5>
            {% if beerreview.rating == '1' %}
                <p class="rating fcolor_black">&#10026;</p>
            {% elif beerreview.rating == '2' %}
                <p class="rating fcolor_black">&#10026; &#10026;</p>
            {% elif beerreview.rating == '3' %}
                <p class="rating fcolor_black">&#10026; &#10026; &#10026;</p>
            {% elif beerreview.rating == '4' %}
                <p class="rating fcolor_black">&#10026; &#10026; &#10026; &#10026;</p>
            {% elif beerreview.rating == '5' %}
                <p class="rating fcolor_black">&#10026; &#10026; &#10026; &#10026; &#10026;</p>
            {% else %}
                <p class="rating fcolor_black">No rating</p>
            {% endif %}
            <h6 class="comments-header fcolor_black">Comments:</h6>
            <p class="comments fcolor_black">{{ beerreview.comments }}</p>
            <span class="date fcolor_medium fcolor_accent_dt_light"> {{ beerreview.date }} </span>
            <div class="update_links">
                    <a href="{% url 'update_beer_review' beerreview.id %}" class="link-update fcolor_dark fcolor_accent_dt">Update</a>
                    <a href="{% url 'delete_beer_review' beerreview.id %}" class="link-update fcolor_dark fcolor_accent_dt">Delete</a>
                </div>
        </div>
    </div>

{% endblock %}