{% extends "base_generic.html" %}

{% block title %}Delete Review of {{ beer_review.name }}{% endblock %}

{% block main %}

    <h1 class="no-content fcolor_light">Are you sure you want to delete your review of {{ beer_review.name }}?</h1>

    <form action="" method="post" class="delete-form">
        {% csrf_token %}
        <button class="button button_lt button_dt" type="submit">Yes</button>
        <a href="{% url 'beers'%}" class="button button_lt button_dt">No, back to my list</a>
    </form>

{% endblock %}