/* Roboto font import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    font-style: normal;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

a.button:hover {
    text-decoration: none;
}

body {
    position: relative;
    overflow-wrap: break-word;
}

.bg-image {
    background: url("../images/bg-4.jpg") center/20% repeat fixed;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 92px);
}

.reviews_container, .profile_container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list_container {
    width: 100%;
    border-radius: 50px;
    padding: 10px;
}

form {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: left;
}

.delete-form {
    padding: 1rem 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

table {
    width: 100%;
}

tr {
    vertical-align: top;
}

label, .beer_li {
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
}

.user_li {
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
}

input, select {
    width: 80%;
    height: 2rem;
    text-align: left;
    padding: 2px;
}

input::placeholder {
    text-align: left;
}

input[name=q]::placeholder {
    text-align: center;
}

textarea {
    min-height: 9rem;
    border-radius: 0;
    padding: 2px;
}

.form_tac, .form_tac input {
    text-align: center;
}

.helptext {
    font-style: italic;
    font-weight: 300;
    font-size: 0.5rem;
}

.button {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color 0.15s ease-in-out;
}

.main-icon {
    height: 76px;
}

.nav-link {
    font-size: 1.25rem;
    padding-bottom: 0 !important;
    
}

.nav-link:hover {
    transform: scale(1.1) !important;
}

.nav-link.active {
    font-weight: 700;
}

.navbar-brand {
    font-weight: 700;
    font-size: 2rem !important;
}

.header {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.no-content {
    font-size: 1.7rem;
    font-weight: 400;
}

.welcome {
    font-size: 3rem;
    font-weight: 700;
}

.welcome-img {
    height: 500px;
}

.review, .profile_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    width: 450px;
    height: 280px;
    border-radius: 50px;
    margin-bottom: 30px;
}

.profile_section_big {
    height: auto;
}

.profile_container>.profile_section:first-of-type {
    min-height: 280px;
}

.review__descr, .profile_info {
    min-width: 55%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.profile_info {
    max-width: 55%;
    margin-left: 5px;
    text-align: right;
}

.profile_info_stats {
    text-align: left;
    margin-left: 15px;
}

.profile_friends {
    text-align: left;
    min-width: 40%;
    min-height: 30%;
}

.friends-links {
    padding: 0 20px;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.beer-image, .user-image {
    max-height: 100%;
    width: 40%;
    object-fit: contain;
}

.beer-name, .username, .profile_stats, .profile_friends_header {
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
}

.beer-type, .user-email {
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
}

.rating {
    font-size: 1.25rem;
    margin-bottom: 1.7rem;
}

.comments-header, .user-name {
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    color: #000000;
    margin-bottom: 0;
}

.comments, .reviews_count, .friends_count {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #000000;
}

.date, .user-regdate {
    text-align: right;
    font-style: italic;
    font-weight: 300;
    font-size: 0.8rem;
}

.user-regdate {
    margin-top: 60px;
}

.update_links {
    display: flex;
}

.link-update {
    font-size: 1rem;
    margin-right: 15px;
}

.link-update:hover {
    text-decoration: none;
    font-weight: bold;
    transform: none;
}

.link-update-icon:hover {
    transform: scale(1.1);
}

ul {
    list-style-type: none !important;
}

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
}

/* crispy forms styles */
.help-block {
    font-size: 0.8rem;
}

.control-group {
    width: 80%;
}

.controls>ul {
    font-size: 0.8rem;
}

/* animated switch dark mode button */
.switch-dm {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 0 !important;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F1E3CB;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: RGBA(49, 49, 49, .87);
}

input:focus + .slider {
    box-shadow: 0 0 1px RGBA(49, 49, 49, .87);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* media rules */
@media (max-width: 992px) {

    .nav-link:hover {
        transform: none !important;
    }

    .link-update-icon:hover {
        transform: none;
    }

    form {
        width: 90%;
    }

    textarea {
        width: 80%;
    }

    .welcome {
        font-size: 2.5rem;
    }

    .welcome-img {
        height: 400px;
    }

    .no-content {
        font-size: 1.5rem;
    }

    .mode-icon {
        width: 28px;
    }

    .switch {
        width: 48px;
        height: 26px;
    }

    .slider:before {
        height: 18px;
        width: 18px;
        left: 4px;
        bottom: 4px;
    }

    .slider.round {
        border-radius: 26px;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(22px);
        -ms-transform: translateX(22px);
        transform: translateX(22px);
    }
}

@media (max-width: 768px) {

    table {
        width: 100%;
    }

    td {
        max-width: 150px;
    }

    form {
        width: 100%;
    }

    .footer {
        width: 60vw;
        font-size: 0.8rem;
    }

}

@media (max-width: 576px) {

    .nav-link {
        font-size: 1rem;
    }

    .navbar-brand {
        font-size: 1.5rem !important;
    }

    .main-icon {
        height: 50px;
    }

    .container {
        min-height: calc(100vh - 66px);
    }

    .welcome {
        font-size: 1.5rem;
    }

    .welcome-img {
        height: 300px;
    }

    .header {
        font-size: 1.3rem;
        margin-bottom: 15px;
    }

    .no-content {
        font-size: 1rem;
    }

    .reviews_container, .profile_container {
        margin-top: 15px;
    }

    .profile_container {
        width: 90%;
    }

    .review, .profile_section {
        padding: 10px;
        width: 430px;
        height: 210px;
        border-radius: 50px;
        margin-bottom: 20px;
    }

    .profile_section {
        padding: 20px 10px;
    }

    .profile_section_big {
        padding: 30px 30px;
        height: auto;
        flex-direction: column;
    }

    .profile_container>.profile_section:first-of-type {
        min-height: 210px;
    }

    .profile_friends {
        min-width: 10%;
        min-height: 10%;
    }

    .profile_stats, .profile_friends_header {
        font-size: 0.9rem;
    }

    .profile_info {
        padding-right: 20px;
    }

    .profile_info_stats {
        padding-right: 0;
    }

    .friends-list {
        font-size: 0.8rem;
    }

    .friends-links {
        margin-top: 0.5rem;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .friends-links>.button {
        margin-bottom: 5px;
    }

    .beer-name, .username {
        font-size: 1.3rem;
    }

    .beer-type, .user-email {
        font-size: 1rem;
    }

    .rating {
        font-size: 0.8rem;
        margin-bottom: 1.2rem;
    }

    .beer-image {
        max-height: 80%;
        width: 20%;
    }

    .user-image {
        width: 40%;
        max-height: 80%;
    }

    .comments-header, .user-name {
        font-size: 1rem;
    }

    .comments, .reviews_count, .friends_count {
        font-size: 0.8rem;
    }

    .reviews_count, .friends_count {
        margin-bottom: 5px;
    }

    .date, .user-regdate {
        font-size: 0.6rem;
    }

    .user-regdate {
        margin-top: 50px;
    }

    .link-update-icon {
        height: 18px;
    }

    .beer_li, .beer_li_span, .user_li {
        font-size: 0.8rem;
    }

    form {
        padding: 30px 10px;
    }

    form>.button {
        margin-top: 10px;
    }

    .delete-form {
        padding: 1rem;
    }

    label {
        font-size: 0.8rem;
    }

    input, select, textarea {
        font-size: 0.6rem;
        width: 95%;
        height: 1.7rem;
    }

    table {
        margin-bottom: 10px;
    }

    td {
        max-width: 100px;
    }

    .button {
        font-size: 0.7rem;
        margin: 0;
        margin-right: 0 !important;
    }

    .footer {
        width: 90vw;
        font-size: 0.5rem;
    }

    .mode-icon {
        width: 20px;
    }

    .switch-dm {
        right: 2px;
    }

    .switch {
        width: 32px;
        height: 18px;
    }

    .slider:before {
        height: 14px;
        width: 14px;
        left: 2px;
        bottom: 2px;
    }

    .slider.round {
        border-radius: 18px;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(14px);
        -ms-transform: translateX(14px);
        transform: translateX(14px);
    }

}

