{% extends "base_generic.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block main %}

    <h2 class="welcome fcolor_light">Welcome to Beer Diary!</h2>

    {% if user.is_authenticated %}

        <p class="no-content fcolor_light">We are happy to see you today!</p>

    {% else %}
        <p class="no-content fcolor_light">Here you can keep memories of all the beers you ever tasted and share it with friends!</p>
        <p class="no-content fcolor_light">To create your own Beer Diary, please <a href="{% url 'register' %}">register</a> your account.</p>
        <p class="no-content fcolor_light">If you’re already a user of Beer Diary, please <a href="{% url 'login'%}">login</a>.</p>
    {% endif %}

    <img src="{% static 'images/welcome.png' %}" alt="welcome-beer" class="welcome-img">

    {% if not user.is_authenticated %}
        <span class="fcolor_light">You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</span>
    {% endif %}

{% endblock %}