{% extends "base_generic.html" %}

{% block title %}Register{% endblock %}

{% block active-link-7 %}
active
{% endblock %}

{% block main %}

{% load crispy_forms_tags %}

    <p class='no-content fcolor_light'>Register</p>
    <p class="no-content fcolor_light">If you’re already a user of Beer Diary, please <a href="{% url 'login'%}">login</a> instead.</p>
    <form action="" method="POST">
        {% csrf_token %}
        {{ register_form|crispy }}
        <button class="button button_lt button_dt" type="submit">Register</button>
    </form>

{% endblock %}